html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(239, 243, 248);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a* {
  cursor: pointer;
}
.navbar-nav {
  font-size: 1rem;
}


a{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #a0a0a0;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 0 2px;
}
header  a:after{
  content: "";
  position: absolute;
  background-color: pink;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
header  a:hover{
  color: #ffffff;
}
header a:hover:after{
  width: 100%;
}


.carousel-inner img {
  /* max-height: 850px; */
  height: 85vh;
}
.carousel-inner h5 {
  font-size: 40px;
  font-family: sans-serif;
  color: rgb(239, 243, 248);
}

.slider {
  margin-top: 50px;
}
.slider img {
  height: 70vh;
}
.iconos-index a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 20px;
}
.iconos-index a i:hover {
  color: #69a7d4;
  transform: scale(1.3);
  transition: ease-in-out 0.1s;
}

.card {
  margin: 5px;
  width: 80%;
}

.card img {
  width: auto;
  height: auto;
}

.card:hover{
  cursor: pointer;
  box-shadow: 10px 15px 21px -3px rgba(0,0,0,0.1);
  position: relative;
  transition: 0.5s ease-in;
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: rgb(2, 107, 2);
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
}

.btn:hover{
  cursor: pointer;
  box-shadow: 5px 7px 9px -3px rgba(0,0,0,0.1);
  position: relative;
  transition: 0.5s ease-in;
  background: rgb(3, 35, 122);
  color: #fff;
}


iframe {
  padding-left: 10px;
  max-width: 700px;
}

/*EXPLORAR*/
/*EXPLORAR*/
/*EXPLORAR*/
.explorar {
  margin: 50px;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
}

#explorar .img-container {
  width: 30%;
  height: 30%;
}

#explorar .texto {
  text-align: justify;
  justify-content: center;
}

#explorar h2 {
  margin-top: 1px;
}

.img-container {
  background-image: url("../images/imagen5.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 400px;
}

/*FIN EXPLORAR*/
/*FIN EXPLORAR*/
/*FIN EXPLORAR*/


.img-fluid{
    margin: 3px;
}

#galeria img:hover{
  border: green 2px solid;
  background-color: #000000;
  transform: scale(1.1, 1.1);
}

ul li{
    list-style: none;
}

footer p{
    padding: 5px;
}
